*{
    transition: 0.5s ;
}
.btn:hover{
    scale: 1.1;
    background-color: rgb(28, 28, 28);
    color: rgb(187, 220, 253);
    transition: all 1s;
}
   
    
.card-style:hover{
    
    border-color: rgb(75, 75, 75);
}
.login-btn:hover{
    background-color: rgb(167, 22, 22);
    color: white;
    transition: all 1s;
}
.help:hover{
    color: rgb(124, 253, 253);
    transition: all 1s;
}